<div class="table-responsive">

    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col" *ngFor="let titre of entete">{{ titre }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let prestation of collection$ | async as retourAsyncCollection">
            <td >{{ prestation.typePresta }}</td>
            <td [appState]="prestation.state">{{ prestation.client }}</td>
            <td >{{ prestation.nbJours }}</td>
            <td >{{ prestation.tjmHt | currency: 'EUR' }}</td>
            <td >{{ prestation | total | currency: 'EUR' }}</td>
            <td >{{ prestation | total:'TTC' | currency: 'EUR' }}</td>
            <td >{{ prestation.state }}</td>
            <td [appState]="prestation.state">
                <select (change)="changeState(prestation, $event)">
                    <!-- <option *ngFor="let state of states | keyvalue" [value]="state"> {{ state.value }}</option> -->
                    <option *ngFor="let state of states" [value]="state" [selected]="state === prestation.state"> {{ state }}</option>
                </select>
            </td>
          </tr>
        </tbody>
      </table>

</div>